<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>$head.title</title>
  <meta name="description" content="$head.description" />
  
  <script type="text/javascript">
    var langs = ['${langs.join("', '")}'];
    var language = navigator.language;
    if (navigator.browserLanguage) {
      language = navigator.browserLanguage;
    }
    
    /* handle en-US */
    if (language.indexOf('-') > -1) {
      language = language.split('-')[0];
    }
    
    /* lang can be stored in localstorage */
    if (localStorage['hs_lang']) {
      language = localStorage['hs_lang'];
    }

    /* redirects if language doesn't correspond to current page language */
    if (language.indexOf('$lang') === -1) {
      if (langs.indexOf(language) && language !== 'en') {
      	document.location.href = language + '.html';
      } else {
        document.location.href = '/';
      }
    }
  </script>

  <!-- jquery -->
  <script type="text/javascript" src="vendor/jquery/1.7.1/jquery-1.7.1.min.js"></script>

  <!-- bootstrap -->
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>  

  <!-- linkify -->
  <script type="text/javascript" src="vendor/linkify/1.0/jquery.linkify-1.0-min.js"></script>  
  
  <!-- jquery ui -->
  <link rel="stylesheet" href="vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.css">
  <script type="text/javascript" src="vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.min.js"></script>

  <!-- facetview -->
  <script type="text/javascript" src="jquery.facetview.js"></script>
  <link rel="stylesheet" href="css/facetview.css">

  <!-- fancybox -->
  <script type="text/javascript" src="fancybox/jquery.fancybox.pack.js"></script>
  <link rel="stylesheet" href="fancybox/jquery.fancybox.css" type="text/css" media="screen" />

  <!-- custom -->
  <script type="text/javascript">
    // var __searchUrl = 'http://localhost:9200/hearthstone/card_$lang/_search?';
    var __searchUrl = 'http://engine.magic-card-search.com:8080/hearthstone/card_$lang/_search?';
    var __castingCost = '$facets.castingCost';
    var __clazz = '$facets.clazz';
    var __attack = '$facets.attack';
    var __health = '$facets.health';
    var __minionType = '$facets.minionType';
    var __set = '$facets.set';
    var __rarity = '$facets.rarity';
    var __type = '$facets.type';
    var __capabilities = '$facets.capabilities';
  </script>
  <script type="text/javascript" src="custom.js"></script>
  <link rel="stylesheet" href="custom.css" type="text/css" media="screen" />
</head>
<body>
  <div class="facet-view-simple">
    <h1>
    	$body.title
    	<% langs.each { l -> %>
    	  <a href="javascript:setLang('$l')">
    		<img width="32" src="img/langs/${l}.png" alt="$l" />
    	  </a>
    	<% } %>
    </h1>
  </div>
</body>
</html>