.facet-view-simple, .disclaimer{
    width: 800px;
    margin: 20px auto 0 auto;
}

.facet-view-simple h1 {
	margin-left: 203px;
}

.facetview_learnmore,
.facetview_order,
.facetview_howmany {
	display: none;
}

pre {
	margin-top: 10px;
	margin-left: 115px;
	font-size: 13px;
	word-break: normal;
}

.fancybox-opened .fancybox-skin,
.fancybox-skin {
	background: transparent;
	box-shadow: none;
}


.fancybox-close {
    right: 8px;
    top: 53px;
}

strong.title {
	font-size: 16px;
	line-height: 24px;
}

.disclaimer {
	clear: both;
	color: gray;
}

.disclaimer p {
	font-size: 10px;
}

.thumbnail {
	cursor: pointer;
	border: 0;
	box-shadow: none;
}

#facetview_results td {
	padding: 0;
}

.attack,
.health,
.mana {
	display: inline-block;
	color: white;
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.mana {
	width: 30px;
	height: 23px;
	padding-top: 7px;
	background: url("img/mana.png");
}

.attack {
	width: 33px;
	height: 26px;
	padding-top: 15px;
	padding-left: 5px;
	background: url("img/attack.png");
}

.health {
	width: 32px;
	height: 28px;
	padding-top: 17px;
	background: url("img/health.png");
}